{
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "jsxSingleQuote": true,
    "printWidth": 80,
    "quoteProps": "as-needed",
    "semi": false,
    "singleAttributePerLine": false,
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 2
}